<mat-card>

  <mat-card-header>Edit Character</mat-card-header>

  <br>

  <mat-card-content>
    <form *ngIf="form" [formGroup]="form">

      <div>
        <mat-form-field>
          <input matInput name="name" formControlName="name" placeholder="Name">
          <mat-error *ngIf="form.get('name').hasError('required')">Required!</mat-error>
        </mat-form-field>
      </div>

      <br>

      <div>
        <mat-form-field>
          <input matInput name="culture" formControlName="culture" placeholder="Culture">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
      </div>

    </form>

    <p><strong>{{getDate() | date : 'short'}}</strong></p>

  </mat-card-content>

</mat-card>



